node_modules/
/build
.DS_Store
Thumbs.db
.env
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Firebase files
.firebase/
firebug.log*

# Environment variables (عشان هنحط فيها الـ Firebase API Keys)
.env
.env.local